body {
  background-image: url("http://fondosbonitos.com/web/wallpapers/wallpaper-minimalista-08/thumbnail/lg.jpg");
  background-size: 100%;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	color: rgb(200,255,255);
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	color: rgba(255,255,255,0.8);
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: rgba(255,255,255,0.8);
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: rgba(255,255,255,0.8);
}

.game {
	color: rgba(0,0,0,0.95);
}